@font-face {
    font-family: "monsterRatRegular";
    src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "monsterRatBold";
    src: url("./Montserrat/Montserrat-Bold.ttf") format("truetype");
}

section {
    /* position: relative; */
    width: 100%;
}

/* Empty box for the area of header */
section>div:first-child {
    /* background-color: yellowgreen; */
    height: 65px;
}

/* User Inputs */
#inputContainer {
    border-top: 1px solid lightgray;
    padding: 20px;
}
#searchEvents {
    outline: none;
    width: 30%;
    min-width: 150px;
    height: 46px;
    border-width: 1px;

    padding: 0;
    padding-left: 20px;
    margin-right: 10px;
}
#selectOption {
    /* width: 80px; */
    height: 46px;
    border-width: 1px;
    border-radius: 20px;
    outline: none;

    padding: 0;
    padding-left: 10px;
    margin-right: 10px;
}
#addButton {
    float: right;
    margin-right: 3%;
}
#addButton>button {
    height: 46px;
    outline: none;
    font-size: 0.9em;
}
.fullText { display: inline; }
.shortText { display: none; }

@media screen and (max-width: 600px) {
    #addButton {
        margin-right: 0;
    }
    #addButton>button {
        /* padding: 20px; */
        width: 46px;
        font-size: 2.0em;
    }
    .fullText { display: none; }
    .shortText { display: inline; }
}
@media screen and (max-width: 450px) {
    #inputContainer {
        padding: 10px;
    }
}
@media screen and (max-width: 450px) {
    #searchEvents {
        min-width: 100px;
    }
}

/* No Events */
.noEvents {
    font-family: "monsterRatBold", sans-serif;
    padding: 40px;
    padding-top: 20px;
}
.noEventsSub {
    font-family: "monsterRatRegular", sans-serif;
    padding: 0 40px;
    padding-bottom: 20px;
}

/* Event Item */
.item {
    border-top: 1px solid lightgray;
    padding: 20px;
    cursor: pointer;
}
.item>div {
    display: inline-block;
    vertical-align: top;
}
.item>.imgContainer {
    width: 200px;
    margin-right: 20px;
}
.item>.imgContainer>img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .item>.imgContainer {
        display: none;
    }
}

.item>.content>div {
    padding-bottom: 10px;
}
.item>.content>.date {
    color: #393E41;
    font-size: 0.9em;
    font-family: "monsterRatBold", sans-serif;
}
.item>.content>.title {
    font-family: "monsterRatBold", sans-serif;
}
.item>.content>.host {
    color: gray;
    font-size: 0.8em;
    font-family: "monsterRatRegular", sans-serif;
}

/* Attendees */
.item .attendees {
    /* background-color: blue; */
    position: relative;
    height: 20px;
}
.item .attendees>div {
    background-color: white;
    width: 34px;
    border-radius: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .attendees>.hostImg {
}
.item .attendees>.firstImg {
    left: 25px;
}
.item .attendees>.secondImg {
    left: 50px;
}
.item .attendees>.guestCount {
    left: 85px;
    top: 5px;
    font-family: "monsterRatRegular", sans-serif;
    font-size: 0.8em;
    color: gray;
}
.item .attendees>div>img {
    width: 30px;
    border-radius: 15px;
}
