section {
    /* position: relative; */
    width: 100%;
    background-color: white;
}

/* Empty box for the area of header */
section>div:first-child {
    /* background-color: yellowgreen; */
    height: 65px;
}

/* User Inputs */
#inputContainer {
    border-top: 1px solid lightgray;
    padding: 20px;
}
#searchEvents {
    outline: none;
    width: 30%;
    min-width: 150px;
    height: 46px;
    border-width: 1px;

    padding: 0;
    padding-left: 20px;
    margin-right: 10px;
}
#selectOption {
    /* width: 80px; */
    height: 46px;
    border-width: 1px;
    border-radius: 20px;
    outline: none;

    padding: 0;
    padding-left: 10px;
    margin-right: 10px;
}
#addButton {
    float: right;
    margin-right: 3.5%;
}
#addButton>button {
    height: 46px;
    outline: none;
    font-size: 0.9em;
    padding: 0 10px;
}
.fullText { display: inline; }
.shortText { display: none; }

@media screen and (max-width: 600px) {
    #addButton {
        margin-right: 0;
    }
    #addButton>button {
        /* padding: 20px; */
        width: 46px;
        font-size: 2.0em;
    }
    .fullText { display: none; }
    .shortText { display: inline; }
}
@media screen and (max-width: 450px) {
    #inputContainer {
        padding: 10px;
    }
    #searchEvents {
        min-width: 100px;
    }
}
@media screen and (max-width: 350px) {
    #searchEvents {
        padding-left: 5px;
        margin-right: 5px;
    }
}

/* No Events */
.noEvents {
    font-family: "MontserratBold", sans-serif;
    padding: 40px;
    padding-top: 20px;
}
.noEventsSub {
    font-family: "Montserrat", sans-serif;
    padding: 0 40px;
    padding-bottom: 20px;
}

/* Event Item */
.item {
    border-top: 1px solid lightgray;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.item>.imgContainer {
    width: 200px;
    height: 130px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.item>.imgContainer>img {
    border-radius: 10px;
    max-width: 100%; 
    max-height: 100%;
    /* object-fit: contain;  */
    
}

@media screen and (max-width: 750px) {
    .item>.imgContainer {
        display: none;
    }
}

.item>.content>div {
    padding-bottom: 10px;
}
.item>.content>.date {
    color: #393E41;
    font-size: 0.9em;
    font-family: "MontserratBold", sans-serif;
}
.item>.content>.title {
    font-family: "MontserratBold", sans-serif;
}
.item>.content>.host {
    color: gray;
    font-size: 0.8em;
    font-family: "Montserrat", sans-serif;
}

/* Attendees */
.item>.content>.attendees {
    /* background-color: blue; */
    height: 34px;
    padding: 0;
}
.item .attendees>div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 22px;
}
.item .attendees .whiteCircle {
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item .attendees .profileImg:nth-child(1) {
    z-index: 3;
}
.item .attendees .profileImg:nth-child(2) {
    z-index: 2;
}
.item .attendees .profileImg:nth-child(3) {
    z-index: 1;
}
.item .whiteCircle>img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.item .attendees>.guestCount {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
    color: gray;
    
    width: 34px;
    padding: 5px;
    text-align: center;
}
