/* My Events Header */
#myEventsHeader {
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-around;
}
#myEventsHeader span {
    height: 46px;
    font-size: 1.5em;
    font-family: "MontserratBold", sans-serif;
}
#myEventsHeader div {
    padding-bottom: 5px;
}
#myEventsHeader .selected {
    border-radius: 5px;
    border-bottom: 6px solid #FF3864; /* #72ddf7 */
    font-family: "MontserratBold", sans-serif;
}
#myEvents, #attendingEvents {
    cursor: pointer;
}

/* No Events */
.noEvents {
    font-family: "MontserratBold", sans-serif;
    padding: 40px;
    padding-top: 20px;
    text-align: center;
}

/* Event Item */
.eventItem {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 3px 2px lightgrey;
    border-radius: 15px;
    padding: 2.0vw;
    padding-bottom: 0;
    margin-bottom: 1.0vw;
    cursor: pointer;
}
.eventItem .imgContainer {
    width: 160px;
    height: 120px;
    margin: 10px 0;
    margin-right: 5%;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.eventItem .imgContainer>img {
    border-radius: 5px;
    max-width: 100%; 
    max-height: 100%;
}
.eventItem .content {
    display: flex;
}
.eventItem .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.eventItem .title {
    font-size: 1.2em;
    font-family: "MontserratBold", sans-serif;
    text-align: left;
}
.eventItem .date {
    color: #393E41;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
}
.eventItem .host {
    color: gray;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
}
.eventItem .hidden {
    display: none;
}

@media (max-width: 1000px) {
    #myEventsHeader span {
        font-size: 1.3em;
    }
    .eventItem .imgContainer {
        width: 100px;
        height: 90px;
    }
    .eventItem .title {
        font-size: 1.2em;
    }
    .eventItem .date {
        font-size: 0.9em;
    }
    .eventItem .host {
        font-size: 0.9em;
    }
}

@media (max-width: 700px) {
    #myEventsHeader {
        margin: 0px;
    }
    #myEventsHeader span {
        font-size: 1.1em;
    }
    .eventItem{
        padding: 4.0vw;
    }
    .eventItem .title {
        font-size: 1.0em;
    }
}
