/* Main style.css */
@font-face {
    font-family: "monsterRatRegular";
    src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
  }
a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
header {
    position:fixed;
    height: 65px;
    margin: 0px;
    width: 100%;
    z-index: 9;
    /* padding-top: 10px; */        
    font-family: "monsterRatRegular";
}
.headerWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    /* margin-top: 1.5em; */
}
.fa-paw{
    color: white;
}
#headerLeft{
    padding-left: 1.5em;
    padding-top: .5em;
}
#headerLeft>a>img{
    margin-top: 0;
    height: 3em;
    width: 3em;
}

#headerRight{
    display: flex;
    padding-right: 1em;
    margin-top: 1.5em;
}
.desktopWrapper>div>a{
    text-decoration: none;
    color:  black;
    margin-left: 1em;
    margin-right: 1em;
}
.desktopWrapper>div{
    display: flex;
    margin-left: 1em;
    margin-right: 1em;

}
.desktopWrapper{
    display: flex;
}
.menuItems{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.menuItems>p {
    padding-top: .8em;
    padding-bottom: 2em;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "monsterRatRegular";
    color:rgb(233, 233, 233);
    font-size: 1.3em;
    border-bottom: grey 1px solid;
    text-align: center;
}
.menuItems>p>a{
    text-decoration: none;
    color:rgb(233, 233, 233);
}
.userImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1em;
}
.stars{
    margin-top: -.4em;
    z-index: 10;
}
.stars>img{
    margin-left: -.1em;
}

footer {
    margin-top: 0;
    padding-bottom: 10px;
    font-family: "monsterRatRegular";
    background: white;  
}

footer>ul {
margin: 0;
display: flex;
justify-content: center;
list-style-type: none;
text-align: center;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
}

footer>ul>li {
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
color: #393c41;
font-size: small;
font-family: "monsterRatRegular"

}
#mobileWrapper, .menu-btn{
    padding: .5em;
}
.pawImage{
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #8093f1;
}

footer>p {
    font-size: x-small;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.footer {
    margin-bottom: 0px;
    padding-left: 0px;
}

#social-icons-list {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
}

#social-icons-list li span{
font-size: 0px;
}

#social-icons-list li a span{
    display:inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px
}

.icon-social-facebook-large {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjMgMjJ2LTguMkgxNmwuNC0zLjJoLTN2LTJjMC0xIC4yLTEuNiAxLjUtMS42aDEuNlY0LjFMMTQuMSA0Yy0yLjMgMC00IDEuNS00IDQuMnYyLjRINy41djMuMmgyLjdWMjJoMy4xeiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
 
}

.icon-social-instagram-large {
background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMjAgOC4zaDBjMC0uOC0uMi0xLjMtLjQtMS44cy0uNC0uOS0uOC0xLjMtLjgtLjYtMS4zLS44YTc3LjggNzcuOCAwIDAwLTExIDAgMy40IDMuNCAwIDAwLTIgMmMtLjMuNi0uNCAxLjItLjQgMmE3OCA3OCAwIDAwLjMgOS4xYy4yLjUuNCAxIC44IDEuMy40LjQuOC42IDEuMy44YTY2LjUgNjYuNSAwIDAwMTEgMCAzLjQgMy40IDAgMDAyLTJjLjMtLjYuNC0xLjEuNC0yYTc4IDc4IDAgMDAwLTcuM3oiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIyIi8+PHBhdGggZD0iTTE2LjUgOC41YTEgMSAwIDExMC0yIDEgMSAwIDAxMCAyTTEyIDhhNCA0IDAgMTEwIDggNCA0IDAgMDEwLTh6bTAgNmEyIDIgMCAxMDAtNCAyIDIgMCAwMDAgNHoiIGZpbGw9IiMwMDAiLz48L2c+PC9zdmc+);
    background-repeat: no-repeat;
}

.icon-social-twitter-large {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDYuM2wtMi4xLjZjLjgtLjUgMS4zLTEuMyAxLjYtMi4xLS43LjQtMS41LjctMi4zLjlhMy43IDMuNyAwIDAwLTIuNy0xLjIgMy43IDMuNyAwIDAwLTMuNyAzLjhWOWMtMy0uMS01LjctMS42LTcuNi00YTQgNCAwIDAwLS41IDJjMCAxLjIuNyAyLjQgMS43IDMuMS0uNiAwLTEuMi0uMS0xLjctLjQgMCAxLjggMS4zIDMuMyAzIDMuN2wtMSAuMUg1YTMuNyAzLjcgMCAwMDMuNSAyLjZBNy4zIDcuMyAwIDAxMyAxNy44YzEuNyAxLjEgMy42IDEuNyA1LjcgMS43IDYuOCAwIDEwLjUtNS44IDEwLjUtMTAuOHYtLjVjLjctLjUgMS4zLTEuMiAxLjgtMnoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
}

.icon-social-youtube-large {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkgNWg3LjRjMS4yIDAgMi40IDAgMy42LjIuNSAwIDEgLjMgMS41LjZzMSAxIDEgMS42Yy4zLjcuNCAxLjUuNCAyLjN2MmEyOS43IDI5LjcgMCAwMS0uMyA1LjZjLS4zIDEtMS4xIDEuOC0yLjEgMmwtMi4yLjJIMTZsLTMuMi4xaC01QTEyMy4yIDEyMy4yIDAgMDEzIDE5Yy0uOC0uNC0xLjQtMS0xLjYtMi0uMi0uNy0uMy0xLjQtLjMtMi4ybC0uMS0yYTI5LjcgMjkuNyAwIDAxLjUtNS42Yy4yLTEgMS0xLjcgMi0yQTEzIDEzIDAgMDE1LjcgNUg5bS45IDQuMXY2LjJsNS43LTMuMS01LjctMy4xIi8+PC9zdmc+);
    background-repeat: no-repeat;
}


@media screen and (max-width: 1120px) {
    /* Remove DESKTOP ONLY STUFF */
    .desktopWrapper {
        display: none;
        font-family: "monsterRatRegular";
    }

    /* Styling the menu button */
    .menu-btn { 
        /* position: absolute;  */
        z-index: 20; 
        margin-left: 15px;
        padding-top: 5px; 
        cursor: pointer; 
        transition: all 0.5s ease-out; 
    } 
  
    /* Styling the hamburger lines */
    .menu-btn .btn-line { 
        width: 28px; 
        height: 3px; 
        margin: 0 0 5px 0; 
        background: black; 
        transition: all 0.5s ease-out; 
    } 
  
    /* Adding tranform to the X */
    .menu-btn.close { 
        transform: rotate(180deg); 
    } 
  
    /* Styling the three lines  
        to make it an X */
    .menu-btn.close .btn-line:nth-child(1) { 
        transform: rotate(45deg) translate(5px, 5px);
    } 
  
    .menu-btn.close .btn-line:nth-child(2) { 
        opacity: 0; 
    } 
  
    .menu-btn.close .btn-line:nth-child(3) { 
        transform: rotate(-45deg) translate(7px, -6px); 
    } 

    .hoverWrapper.show {
        position: absolute;
        right: 0px;
        border-radius: 1em;
        height: 50vh;
        width: 250px;
        transition: right 1s;
        padding-top: 0;
        z-index: 10;
    }

    .hoverWrapper {
        position: absolute;
        right: -250px;
        border-radius: 1em;
        font-family: sans-serif;
        text-align: left;
        height: 50vh;
        width: 250px;
        transition: right 1s;
        padding-top: 0;
        z-index: 10;
    }
    header{
        background: rgba(233,233,233,.5);
    }
    
    .mobileSignIn, #mobileWrapper {
        padding-top: 5px;
    }
    .mobileSignIn, .signOut{
        text-decoration: none;
        padding: .5em;
        border-radius: 3em;
        border: 2px transparent;
        color:black;
        background:  #F8C533;
    }
   
    #mobileWrapper>img{
        margin-right: 1em;
    }
    #mobileWrapper{
        display: flex;
        padding-top: 0;
        color: #393E41;   
    }
    .signOut, .headerUserImage{
        margin: 2em;    
    }
    .mobileLoggedIn{
        font-family: "monsterRatRegular";
        display: flex;
    }
    .mobileLoggedIn>div{
        margin-left: 1em;
        margin-right: 1em;
    }
    .mobileLoggedIn>div>a{
        color: black;
    }
    .menuItems{
        background-color: #393E41;
        border-radius: 1em;
        margin-top: 0;
    }
    .menuItems>p>a{
        color: white;
    }
}


/* DESKTOP SETTINGS */
@media screen and (min-width: 1120px) {
    .middleheader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style-type: none;
        text-align: center;
        align-items: center;
        margin: 0px;
    }
    /* .desktopWrapper {
        display: inline-block;
        vertical-align: top;
    } */
    .desktopWrapper{
        font-family: "monsterRatRegular";
    } 
    .desktopWrapper>ul {
        text-align: right;
        /* margin-right: 20px; */
    }
    .desktopWrapper>ul>li>a{
        color: #393E41;
        font-weight: bolder;
        padding: .5em;
    }
    #mobileLogin{
        color:black;
    }
    .headerUserImage{
        padding: .5em;
    }
   
   .headerSignUp, .signOut{
        padding: 1em;
        border-radius: 3em;
        border: 2px transparent;
        color: rgb(233, 233, 233);
        background: #F8C533;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
    

    #desktopLogInLink {
        padding-left: 5px;
      }

    .desktopWrapper>ul>li{
        display: inline;
        text-align: right;
    }
   
    /* Remove things for MOBILE only */
    #hamburger {
        display: none;
    }

    #mobileWrapper {
        display: none;
    }
    .hoverWrapper {
        display: none;
    }
    .headerSignUp, .signOutWrapper{
        margin-top: -.8em;
    }
}

/* CONTACT PAGE */
.contactPage1{
    padding-top: 10%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding: auto;
    text-decoration: none;
}
.contactPage1>h1{
    font-family: "monsterRatRegular";
    text-align: center;    
    color: rgb(233, 233, 233);

    text-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.topContent{
    font-family: "monsterRatRegular";
 
}
.topContent>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circle>h2{
    padding-top: 15%;
    text-align: center;
    color:  rgb(233, 233, 233);
}

#contactMainImage{
    width: 100%;
}

.contactPageEmail, .contactPageNumber, .contactPageFax{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    color:  rgb(233, 233, 233);
}
.email, .phoneNumber, .faxNumber{
    text-align: center;
}
.email>h2, .phoneNumber>h2, .faxNumber>h2{
    font-weight: bold;
}
.contactPageHeadquarters>h1{
    padding-left: 5%;
    color: #F5B64B; 
    font-size: 3em;
}
.contactMiddle{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.contactMiddle>div{
    display: inline-block;
    justify-content: space-around;
}
.contactMiddle>div>p{
    color: lightgrey;
}
.contactMiddle>div>h1{
    margin-top: 0px;
    color: #F5B64B; 
    font-size: 3em;
}
.contactDivider{
    background-color: #3E91B7;  
    display: inline-block;
    vertical-align: middle;
}
.contactMiddleText{
    text-align: center;
}
@media screen and (min-width: 1120px){
    header{
        background: linear-gradient(180deg, #e9e9e9, transparent);
    }
    .contactPage1{
        background-image: url('../images/contactPageHeader.jpg');
    }
    .contactPage1>div{
        display: flex;
        justify-content: space-between;
        padding-left: 10em;
        padding-right: 10em;
    }
    .contactPage1>h1{
        font-size: 5em;
        margin-top: 0px;  
    }
    .topContent{ 
        padding-top: 3em;
    }
    .circle{
        background-color: rgba(233, 233, 233, .5);
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 10em;
        width: 10em;
        transition: transform 1s; 
    }
    .circle:hover{
        background-color: rgba(245, 182, 75, 1);
        transform: scale(1.2);
    
    }
    .fa-envelope, .fa-phone, .fa-fax{
        font-size: 5rem;
    }
    .contactDivider{
        height: .1em;
        width: 10em;
    }
}
@media screen and (max-width: 1120px){
    .contactPage1{
        background-image: url('../images/contactPageMobile.jpg');  
        padding: auto;
        height: 100vh;
    }
    .contactPage1>h1{
        font-size: 3em;
        
    }
    .topContent{
        padding: auto;
        height: 100vh;
        width: 100vw;
    }
    .circle{
        background-color: rgba(233, 233, 233, .5);
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 4em;
        width: 4em;
        
    }
    .circle>h2{
        padding-top: 0;
    }
    .fa-envelope, .fa-phone, .fa-fax{
        font-size: 2rem;
    }
    .contactDivider{
        margin-top: -1em;
        height: .1em;
        width: 8em;
    }
}
/* @media screen and (max-height: 812px){
    .contactPageEmail, .contactPageNumber,.contactPageFax {
        margin-top: 10%;
    }
} */

@media screen and (max-height: 653px){
    .contactPageEmail, .contactPageNumber,.contactPageFax {
        margin-top: 3%;
    }
}
@media screen and (max-height: 667px){
.email>p, .phoneNumber>p, .faxNumber>p{
    margin-top: -12%;
}
}