/* Main style.css */
body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*FOR THE CAROUSEL */

#carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.carouselImg {
    position: fixed;
    width: 100vw;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    top: -10%;
    z-index: -1;
}

#carouselTextBox {
    width: 300px;
    height: 250px;
    color: white;
    position: absolute;
    left: 8%;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}


#carouselButton {
    background-color: #72ddf7;
    width: 200px;
    text-align: center;
    border-radius: 100px;
    color:white;
    font-size: 0.5em;
    font-weight: normal;
}

#carouselButton:hover {
    background-color: #8093F1;
}

.button:hover {
    background-color: #8093F1;
}

/* ******** FOR THE LANDING PAGE CONTENT ******* */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: relative;
}

#content1 {
    height: 90vh;
    background-color: white;
}

#content2 {
    height: 90vh;
    background-color: #72ddf7;
    flex-direction: row;
}

#content3 {
    height: 95vh;
    background-image: url(../images/pawWallpaper.png);
    background-size: cover;
    /* background-color: white; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#content4 {
    height: 200vh;
    font-size: 3em;
    background-image: url(../images/Untitled\ design.png);
    background-size: cover;
    justify-content: flex-start;
}

#contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.contentBox {
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contentBox > p, h3 {
    text-align: center;
    width: 80%;
    margin: 0;
    font-size: 1em;
}

.contentBox> h3 {
    font-weight: 600;
    font-size: 2em;
    
}

span {
    background-color: #72ddf7;
    height: 10px;
    width: 50px;
    border-radius: 10px;
}

.imageBall {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-image: url(../images/dogCarousel0.jpg);
    background-size: cover;
    clip-path: circle(50% at 50% 50%);
    transition: 2s;
}

.imageBall:hover {
    transform: rotate(360deg);
}

.ball2 {
    background-image: url(../images/portraitDog4.jpg);
}

.ball3 {
    background-image: url(../images/portraitDog5.jpg);
}
.button2 {
    width: 300px;
    height: 50px;
    background-color: #72ddf7;
    text-align: center;
    border-radius: 100px;
    color:white
}

.boxAppearBefore {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s all ease-in-out;
}

.boxAppearAfter {
    opacity: 1;
    transform: translateY(0px);
}

.content3inner {
    width: 25%;
    height: 70%;
    background-image: url(../images/portraitDog1.jpg);
    background-size: cover;
    border-radius: 50px 0px 50px 0px;
    transition: 0.3s;
}

.content3inner:nth-child(2){
    background-image: url(../images/portraitDog2.jpg);
}

.content3inner:nth-child(3){
    background-image: url(../images/portraitDog3.jpg);
}

.content3inner > div {
    transition: 2s;
}

.content3inner:hover {
    transform: translateY(-15px);
    box-shadow: 5px 10px 18px #acacac;
}

#content3text {
    position: absolute;
    top: .5%;
    left: 5%;
    font-size: 1.5em;
    font-weight: bold;
}

/* *************EXPANDING CONTENT TEST******************************** */

#insideContainer {
    position: relative;
    flex-direction: column;
    width: 85%;
    height:50%;
    border-radius: 100px;
}

.inside {
    overflow: hidden;
    height: 12%;
    width: 100%;
    text-align: center;
    color: white;
    transition: .8s;
    margin-bottom: 10px;
    background-color: #72ddf7;
    border-radius: 50px;
}

.inside:hover {
    cursor: pointer;
    background-color: #8093F1;

}

.afterClick {
    height: 80%;
    
}

.inside > h3 {
    font-size: 1.2em;
    display: inline-block;
    font-weight: normal;
    text-align: left;
}

.insideContent {
    width: 90%;
    height: 80%;
    opacity: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: .6s;
    text-align: right;
    /* box-shadow: 5px 10px 18px #acacac; */
    /* border-radius: 50px; */
}

.insideContentAfterClick {
    opacity: 1;
}

.insideContent p {
    font-size: 0.3em;
    color: black;
    padding-right: 10px;
}


.fas {
    transition: .6s;
    color: white;
}

.arrowClick {
    transform: rotate(180deg);
}

.insideContent img {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
}



/* ******************MEDIA QUERY*************************************** */

@media (max-width: 1125px) {

    #carousel {
        height: 80vh;
        background-image: url(../images/portraitDog5.jpg);
        background-size: cover;
    }

    #carouselTextBox {
        display: none;
    }

    #carousel > img {
        display: none;
    }

    #content1 {
        height: auto;
        padding-bottom: 30px;
    }

    #contentContainer {
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    #content2 {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .boxAppearAfter {
        height: 40%;
        width: 80%;
        margin: 10px;
    }

    #mapImg{
        width: 80%;
        margin-bottom: 10px;
    }

    #content3 {
        flex-direction: column;
        height: 150vh;
    }

    .content3inner {
        width: 80%;
        height: 80%;
        margin: 20px;
    }

    #content4 {
        height: 100vh;
    }

    .inside {
        height: auto;
        width: 100%;
    }
}

@keyframes slideshow {

    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}